  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

  body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 128px;
  }

  h1 {
    font-size: 64px;
  }

  p {
    font-size: 32px;
  }